body {
    position:relative;
    background: #202020;
    color: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
    line-height: initial;
}

#game-wrapper {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/******************* START GAME *****************/
.modal-bkg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.9);
}
.start-game-btn {
    display: none;
}

/***** WAITING PANEL *****/
.waiting-game {
    position: absolute;
    top: 0;
    left: 25px;
    right: 25px;
    bottom: 0;
    font-size: 30px;
}
.game-title {
    padding: 30px 0;
    font-size: 50px;
}
.waiting-label {
    height: 50px;
    margin: 50px 0 20px;
}
.controls-panel {
    position: absolute;
    bottom: 25px;
    text-align: left;
}
.controls-title {
    font-size: 40px;
    margin-bottom: 15px;
}

#controls-mobile {
    display: none;
}

.control-label {
    display: inline-block;
    width: 130px;
}
/************************************************/

/***************** RESTART GAME *****************/
#restart-game-container {
    display: none;
    z-index: 2;
}
.winner-wrapper {
    width: 100%;
}
#winner {
    font-size: 55px;
    margin-bottom: 20px; 
}
#restart-game-btn {
    display: none;
    margin: 0 auto;
}
/************************************************/


/********************** PLAYERS *****************/
#local-player {
    width: 50%;
    height: 100vh;
}
#other-players {
    display: inline-flex;
    width: 50%;
    flex-flow: row;
    flex-wrap: wrap;
    height: 100vh;
}

.players-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}

.player {
    flex: 1 1 auto;
    flex-shrink: 1;
    height: auto;
}

.local {
    /* flex: 1 0 500px; */
    height: 85%;
}

.player.local .tetris {
    border-color: #fff;
}

.tetris {
    border: 0.2em solid #999;
    height: calc(100% - 100px);
}
.tetris.small-debuff {
    height: calc(200px);
}

.score {
    height: 1.3em;
}

.game-over {
    opacity: 0.3;
}

/*********** DEBUFFS ******************/
.debuff-bar {
    height: 5px;
    background: red;
    width: 0%;
    margin: 2%;
}
.debuff-5 {
    animation: debuff-bar 5s infinite linear;
}
.debuff-11 {
    animation: debuff-bar 11s infinite linear;
}
.debuff-17 {
    animation: debuff-bar 17s infinite linear;
}
.debuff-25 {
    animation: debuff-bar 25s infinite linear;
}

.debuff-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}
.debuff-icon {
    display: none;
    max-height: 100px;
    max-width: 100px;
    height: 100%;
    width: 100%;
}
#debuff-haste {
    background: url('./images/haste.png') no-repeat center center / contain;
}
#debuff-keys-inverted {
    background: url('./images/keys-inverted.png') no-repeat center center / contain;
}
#debuff-arena-swing {
    background: url('./images/arena-swing.png') no-repeat center center / contain;
}
#debuff-rotating-piece {
    background: url('./images/rotating-piece.png') no-repeat center center / contain;
}
#debuff-arena-mini {
    background: url('./images/arena-mini.png') no-repeat center center / contain;
}
#debuff-random-pieces {
    background: url('./images/random-pieces.png') no-repeat center center / contain;
}

/*********** HELPER CLASSES ****************/
.my-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*********** OVERRIDE OF MATERIAL DESIGN **************/
.mdl-button {
    height: 70px;
    min-width: 200px;
    padding: 0 30px;
    font-size: 34px;
}
.mdl-textfield {
    width: 100%;;
}
.mdl-textfield__input, .mdl-textfield__label {
    font-size: 35px;
    text-align: center;
}
.mdl-textfield__label {
    color: rgba(255,255,255, 0.25);
}
.mdl-progress {
    margin: 15px auto;
}

