
body {
    position:relative;
    display: flex;
    background: #202020;
    color: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
}

/******************* START GAME *****************/
.modal-bkg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.75);
}
.start-game-btn {
    display: none;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 130px);
    padding: 30px;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
}

/***** WAITING PANEL *****/
.waiting-game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.waiting-label {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 305px);
}
.controls-panel {
    background: rgba(255,255,255,0.25);
    position: absolute;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
}
.controls-header {
    margin-bottom: 50px;
    font-size: 40px;
}
.controls-text {
    font-size: 25px;
}

/************************************************/


/********************** PLAYERS *****************/
.players-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    /* height: 100vh;
    width: 100vw; */
}

.player {
    flex: 1 1 auto;
    flex-shrink: 0;
}

.local {
    flex: 1 0 500px;
}

.player.local .tetris {
    border-color: #fff;
}

.tetris {
    border: 0.2em solid #999;
    height: calc(100% - 100px);
}

.score {
    height: 50px;
}

.game-over {
    opacity: 0.3;
}
/*****************************************************/